
@{
    ViewData["Title"] = "Success";
    var message = ViewData["Message"].ToString();
}
@section Scripts
{
<script type="text/javascript">
$(function(){
  $( document ).ready(function() {
      console.log("Hello");
    setTimeout(function() {
         window.location.href ='@Url.Action("RedirectToMerchant","RedirectToMerchant", new {status = "success"})';
         }, 3000);});});</script>
}
<h1 class="text-success">Success.</h1>
<h2 class="text-success">@message </h2>

<p>
    @Html.ActionLink("Go back now","RedirectToMerchant","RedirectToMerchant")
</p>

    